<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="10 minutes">

	<property name="USER_HOME" value="logs" />
	<property scope="context" name="FILE_NAME" value="integration" />

	<timestamp key="byDay" datePattern="yyyy-MM-dd" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{36} -%msg%n</pattern>
		</layout>
	</appender>


	<!-- 按照每天生成日志文件 -->  
	<appender name="debuglog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
        <Encoding>UTF-8</Encoding>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<FileNamePattern>${USER_HOME}/${FILE_NAME}/debug.%d{yyyy-MM-dd}.log</FileNamePattern>  
			<MaxHistory>30</MaxHistory>
        </rollingPolicy>  
        <layout class="ch.qos.logback.classic.PatternLayout">  
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>  
        </layout>  
	</appender>
	<appender name="infolog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
	    </filter>          
        <Encoding>UTF-8</Encoding>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<FileNamePattern>${USER_HOME}/${FILE_NAME}/info.%d{yyyy-MM-dd}.log</FileNamePattern>  
			<MaxHistory>30</MaxHistory>
        </rollingPolicy>  
        <layout class="ch.qos.logback.classic.PatternLayout">  
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>  
        </layout>  
	</appender>
	<appender name="warnlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
 		</filter>          
		<Encoding>UTF-8</Encoding>  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<FileNamePattern>${USER_HOME}/${FILE_NAME}/warn.%d{yyyy-MM-dd}.log</FileNamePattern>  
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>  
		<layout class="ch.qos.logback.classic.PatternLayout">  
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>  
		</layout>  
	</appender>
	<appender name="errorlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>          
        <Encoding>UTF-8</Encoding>  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<FileNamePattern>${USER_HOME}/${FILE_NAME}/error.%d{yyyy-MM-dd}.log</FileNamePattern>  
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>  
		<layout class="ch.qos.logback.classic.PatternLayout">  
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>  
		</layout>  
	</appender>
        
	
	<root level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="debuglog" />		
		<appender-ref ref="infolog" />		
		<appender-ref ref="warnlog" />
		<appender-ref ref="errorlog" />		
	</root>
	
	<logger name="com.lee.integration" level="DEBUG" />
	<logger name="org.springframework" level="ERROR" />
	<logger name="com.ibatis" level="WARN" />
	<logger name="java.sql" level="WARN" />	
	<logger name="org.apache.zookeeper" level="ERROR" />
    <logger name="n.spy.memcached.MemcachedConnection" level="ERROR"/>
</configuration>